.header_links {
    color:white;
    background-color: rgba(0,0,0,0.7);
    text-decoration: none;
    border-radius: 20px;
    padding:5px 5px;
}
.profile_pic{
    border: 4px, solid, #cc0099;
    height: 400px;
    width: 400px;    
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("calgary.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
li{
    display: flex;
}
h1 {
    color:white;
    text-align: center;
}
h2 {
    color: white;
}
h3 {
    color:white;
    text-align: center;
}
li {
    color:white;
    margin: 7px 5px 0px 5px;
}