
.header{
    display: flex;
    align-items: center;
}


.header_links {
    color:white;
    background-color: rgba(0,0,0,0.7);
    text-decoration: none;
    border-radius: 20px;
    padding:5px 5px;
    border: 1px, solid, #cc0099;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.header_links:hover {
    background-color: rgba(0,0,0,0.9);
    transform: scale(1.05);
}
.project_link{
    color:white;
    background-color: rgba(0,0,0,0.7);
    text-decoration: none;
    border-radius: 20px;
    padding:5px 5px;
    border: 1px, solid, #cc0099;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}
.project_link:hover{
    background-color: rgba(0,0,0,0.9);
    transform: scale(1.05);
}

.profile_pic{
    border: 4px, solid, #cc0099;
    height: 400px;
    width: 400px;    
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("cv_bg_dt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.title{
    color:white;
    text-align: center;
}
li{
    display: flex;
}
h1 {
    color:white;
    text-align: center;
}
h2 {
    color: white;
}
h3 {
    color:white;
    text-align: center;
}
li {
    color:white;
    margin: 7px 5px 0px 5px;
}

@media (max-width: 768px) {

}
