html, body {
  height: 100%;
  margin: 0;
}
body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 1px solid white;
}
.home{
    color:white;
    margin-top: 5px;
}
.button{
    text-decoration:none;
    text-align: center;
}