
#header{
    background-color: #0006;
    width:100%;
    display:flex;
}

body {
    background-image: url("index_bg.jpg");
    background-size: cover;
    background-position: center;

    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.curriculum {
    padding: 10px 10px;
    background-color: greenyellow;
    color: black;
    text-align: center;
    display: block;
    margin:auto;
    width:160px;
    border-radius: 5px;
}
.curriculum:hover {
    color: rgb(74, 216, 247);
}
#body {
    text-align: center;
    
}
#image {
    padding: 40px 10px;
    width: 340px;
    height: 200px;
}
#footer {
    padding: 25px 5;
    background-color: white;
    opacity: 70%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    font-size: 1.2em;
}

a{
    text-decoration: none;
}
.links{
    color:white;
    margin:auto;
    text-decoration:none;
}
.links:hover{
    color:rgb(154, 199, 238);
}
