body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to top, #DB5CA6, #69BDC1);
}
h1{
    text-align: center;
    color:#DB5CA6;
    background-color: rgba(218, 192, 154,0.5);
}
footer{
    
    margin-bottom: 10px;
    background: linear-gradient(to top, #DB5CA6, #69BDC1);
    color: blue;
    text-align: center;
    padding: 10px;
}
a{
    text-decoration: none;
}